body{
    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepik.com%2Fphotos%2Fbackground&psig=AOvVaw3D96_8LVjm8pxFNv7rRzRy&ust=1709302105623000&source=images&cd=vfe&opi=89978449&ved=0CBAQjRxqFwoTCLCiweLc0IQDFQAAAAAdAAAAABAD");
    background-repeat: no-repeat;
}
.main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}
.card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.card1{
    display: flex;
    font-size: small;
    color: black;
    width: 20rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 20%;
    margin-top: 15%;
}
.card2{
    display: flex;
    font-size: small;
    color: black;
    width: 20rem;
    margin-left: 20%;
    margin-top: 15%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#btn{
    background-color: aqua;
    width: 5%;
    margin-left: 20%;
}
#btn a{
    text-decoration: none;
    color: black;
}